body{
    font-family: sans-serif;
}
.header{
    font-family: sans-serif;
    justify-content: flex-end;
    font-size: 14px;
    display: flex;
    
}
.header a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
    transition: 1s;
    
}
.header a:hover{
    text-decoration: underline;
    color: brown;
    font-size: 20px;
}
.header img{
    border-radius: 50px;
}
.header #gmail, #images{
    padding-top: 8px;
}
#mainbody{
    
    position: relative;
    padding-top: 6%;
}
#mainbody img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 70%;
}
#inputSection{
    
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#inputSection #takeInput{
    
    position: relative;
    width: 50%;
    display: flex;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#inputSection #takeInput img{
    position: absolute;
    top: 12px;
    left: 10px;
}

#inputSection #takeInput input{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 40px;
    border-width: 1px;
    border-radius: 50px;
    padding-left: 20px;
    outline: none;
    padding-left: 40px;
}
#inputSection #takeInput input:hover{
    box-shadow: 0px 2px 5px #61C5FA;
    border-width: 0px;
}
#inputSection #takeInput input:focus{
    box-shadow: 0px 1px 5px #61C5FA;
    border-width: 0px;
}
#inputSection #differentButtons{
    padding-top: 2%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}
#inputSection #differentButtons button{
    font-size: 15px;
    padding: 10px;
    display: flex;
    margin-right: 20px;
    border: 1px solid #f8f9fa;
    transition: 0.5s;
    border-radius: 7px;
    background-color: rgba(245, 245, 245, 0.479);
}
#inputSection #differentButtons button:hover{
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.192);
    background-color: rgba(136, 126, 126, 0.1);
}
#langSelect{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 30px;
    font-size: 15px;
}
#langSelect a{
    text-decoration: none;
    padding-left: 15px;
}